.searchbar{
    max-width: 40vw;
    min-width: 10vw;
    width: 30vw;
    text-align: center;
    border-radius: 40px;
    height: 40px;
    font-size: 25px;
    z-index: 3;
    color: white;
    position: relative;
    background: transparent;
  
    
}
.searchholder{
    text-align: center;
    padding: 25px 0;
    
}
.searchbar::placeholder{
    color: white;
   
}
.searchicon{
    width: 30px;
    height: 30px;
    filter: invert(1);
    z-index: 4;
    cursor: pointer;
}
.searchicon:hover{
    width: 35px;
    height: 35px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.temp{
    color: white;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    z-index: 4;
    position: relative;
    padding-bottom: 20px;
}
.location{
    color: white;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    z-index: 4;
    position: relative;
}
.main{
    padding-top: 120px;
}
.totalhum{
    color: white;
    position: relative;
    z-index: 4;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.totalspeed{
    color: white;
    position: relative;
    z-index: 4;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.lastset{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-top: 200px;
} 
@media only screen and (max-width: 600px) {
  .container {
    overflow: hidden;

  }
  .searchbar{
    max-width: 60vw;
    min-width: 50vw;
    width: 50vw;
   
    font-size: 20px;
  
    
}
.temp{
   
    font-size: 40px;
   
}
.location{
 
    font-size: 30px;
   
}
.totalhum{
  
    font-size: 25px;
  
}
.totalspeed{
   
    font-size: 25px;
    
}

}